# Spotify API Bilgileri
SPOTIFY_CLIENT_ID=buraya_client_id_gelecek
SPOTIFY_CLIENT_SECRET=buraya_client_secret_gelecek

# Uygulama Ayarları
REDIRECT_URI=http://localhost:3000/auth/callback
SESSION_SECRET=herhangi_bir_uzun_rastgele_yazi
PORT=3000